<div class="container">
  <h2>Register Form</h2>
  <form class="register-form" (ngSubmit)="onSubmit()">
    <label for="name"><b>Name:</b></label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <label for="mobile"><b>Mobile:</b></label>
    <input type="text" id="mobile" [(ngModel)]="mobile" name="mobile" required />

    <label for="age"><b>Age:</b></label>
    <input type="text" id="age" [(ngModel)]="age" name="age" required />

    <label for="gender"><b>Gender:</b></label>
    <select id="gender" name="gender" (change)="onGenderChange($event)" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <label for="height"><b>Height (in cm):</b></label>
    <input type="text" id="height" [(ngModel)]="height" name="height" placeholder="Enter height in centimeters" required />

    <label for="weight"><b>Weight (in kg):</b></label>
    <input type="text" id="weight" [(ngModel)]="weight" name="weight" placeholder="Enter weight in kilograms" required />

    <label for="bloodGroup"><b>Blood Group:</b></label>
    <input type="text" id="bloodGroup" [(ngModel)]="bloodGroup" name="bloodGroup" required />

    <label for="password"><b>Password:</b></label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required />

    <label for="confirmPassword"><b>Confirm Password:</b></label>
    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />

    <button class="button" type="submit">Register</button>
  </form>
</div>
