<div>
  <h2>Edit User Details</h2>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="editUserDetails.name">
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="text" id="age" [(ngModel)]="editUserDetails.age">
  </div>
  <div>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" [(ngModel)]="editUserDetails.gender">
  </div>
  <div>
    <label for="height">Height:</label>
    <input type="text" id="height" [(ngModel)]="editUserDetails.height">
  </div>
  <div>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" [(ngModel)]="editUserDetails.weight">
  </div>
  <div>
    <label for="bloodGroup">Blood Group:</label>
    <input type="text" id="bloodGroup" [(ngModel)]="editUserDetails.bloodGroup">
  </div>

  <!-- Display diet plan -->
  <div *ngIf="dietPlan && dietPlan.length > 0; else noDietPlan">
    <h3>Diet Plan</h3>
    <ul>
      <li *ngFor="let meal of dietPlan">{{ meal }}</li>
    </ul>
  </div>
  <ng-template #noDietPlan>
    <p>No diet plan available</p>
  </ng-template>

  <!-- Display workout plan -->
  <div *ngIf="workoutPlan && workoutPlan.length > 0; else noWorkoutPlan">
    <h3>Workout Plan</h3>
    <ul>
      <li *ngFor="let exercise of workoutPlan">{{ exercise }}</li>
    </ul>
  </div>
  <ng-template #noWorkoutPlan>
    <p>No workout plan available</p>
  </ng-template>
</div>
