<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/diet-plan" routerLinkActive="active">Diet Plan</a>
  <a routerLink="/workout" routerLinkActive="active">Workout Plan</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
  <a routerLink="/login" routerLinkActive="active">Logout</a>
</nav>

  <div class="container">
  <h2>Diet Plan</h2>
  <div *ngIf="userDetails" class="bmi">
    <p><strong>BMI:</strong> {{ bmi }}</p>
  </div>
  <div *ngIf="dietPlan.length > 0; else noDietPlan">
    <ul>
      <li *ngFor="let meal of dietPlan">{{ meal }}</li>
    </ul>
  </div>
  <ng-template #noDietPlan>
    <p>No diet plan available.</p>
  </ng-template>
</div>


  <div class="tips">
    <div class="tips-title"><strong>Tips for All BMIs</strong></div>
    <ul class="tips-list">
      <li class="tips-list-item"><b>Consult Professionals:</b> Before starting any diet or exercise program, consult with healthcare providers or dietitians to tailor plans to individual needs and conditions.</li>
      <li class="tips-list-item"><b>Stay Consistent:</b> Consistency is key in both diet and exercise to achieve and maintain health goals.</li>
      <li class="tips-list-item"><b>Listen to Your Body:</b> Adjust your plan based on how your body responds, ensuring you don’t overexert or under-nourish yourself.</li>
    </ul>
  </div>
<router-outlet></router-outlet>
